* {
  margin: 0;
}

:focus-visible {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: Arial, sans-serif;
  background-color: #202020;
  color: #fff;
  padding: 1rem;
  text-align: center;
  width: 200px;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}

h1 {
  color: #ff0000;
  font-size: 24px;
}

p {
  font-size: 16px;
}

#timeDisplay {
  padding: 0.5rem 0 1rem 0;
  font-size: 48px;
  font-weight: bold;
  user-select: none;
}

.api-container {
  display: flex;
  border-radius: 10px;
  background-color: #444444;
  padding: 1rem;
  flex-direction: column;
  user-select: none;
  cursor: pointer;
}

#apiKey {
  padding: 10px;
  border-radius: 10px 10px 0 0;
  border: none;
  background-color: #333333;
  color: #fff;
}

#apiKey::placeholder {
  color: #bbb;
}

#submitApiKey {
  padding: 8px 16px;
  background-color: #707070;
  color: #fff;
  border: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}

#submitApiKey:hover {
  background-color: #d00000;
}

#apiKeyStatusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.apiKeyForm {
  max-height: 0px;
  opacity: 0;
  transition: all 0.2s ease;
  overflow: hidden;
  margin-top: 0px;
}

.show {
  max-height: 150px;
  opacity: 1;
  margin-top: 1rem;
}

i { 
  font-size: 16px;
  font-style: normal;
  width: 16px;
  height: 18px;
}

b {
  color: #707070;
  user-select: none;
}

a {
  color: lightblue;
  font-size: medium;
  margin-top: 1rem;
}

a:hover {
  color: #fff;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-58 {
  width: 58px;
}

.time-toggle-button {
  user-select: none;
  height: auto;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
  padding: 4px 8px;
  color: #707070;
  font-weight: bold;
  border: 1px solid #505050;
  border-radius: 6px;
  background: none;
  transition: all 0.2s ease;
}

.time-toggle-button:hover {
  background-color: #505050;
  color: #fff;
}

.time-toggle-button.showing-eft {
  color: #fff;
}

.grid-2c {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}